#control-panel-container {
    position: fixed;
    z-index:2147483630 !important;
    right:0px;
    bottom:0px;
    top:0px;
    width:5em;
    background: #333;
}

button.v-btn {
    border-radius: 2em !important;
    width: 4em;
    height: 4em;
    margin-top:0.5em;
}

.btn-off {
    opacity: 0.75;
}

/*
When in Fullscreen
 */
#control-panel-container.fullscreen {
    margin-top:0px !important;
    top:0px;
    right:0px !important;
}