<div class="d-flex flex-column w-100">
    <div ref="modalcontainer"></div>
    <div class="peer-video-rebinding-wait-container">
        <div  class="peer-video-rebinding-wait text-center"
            v-if="(ui.fullscreen.target !== null && ui.fullscreen.wait)">
            <h1><v-icon>mdi-video-off</v-icon></h1>
            <span class="sr-only">Connection Lost</span>
        </div>
    </div>

    <ChatUserPrompt id="user-prompt"
        v-if="!user.active"
        :chatName="chatName"
        v-on:submit="setAnonUser">
    </ChatUserPrompt>

    <div class="chat-container flex-row flex-fill"
        v-bind:class="{ 'peer-video-fullscreen': ui.fullscreen.active }"
        v-if="user.active">

        <ControlsComponent
            v-bind:inFullscreen="ui.fullscreen.active"
            v-bind:deviceAccess="ui.deviceAccess"
            v-bind:isMobile="user.isMobile"
            v-bind:videoEnabled="stream.videoenabled"
            v-bind:audioEnabled="stream.audioenabled"
            v-bind:screenshareEnabled="stream.screenshareenabled"
            v-bind:videoDevices="user.devices.video"

            v-on:close-chat="confirmLeave"
            v-on:toggle-video="toggleVideo"
            v-on:toggle-audio="toggleAudio"
            v-on:toggle-screenshare="toggleScreenshare"
            v-on:swap-video-feed="swapVideoFeed"
            v-on:change-settings="changeSettings"
            v-on:toggle-chat-drawer="ui.chatDrawer = !ui.chatDrawer"
        >
        </ControlsComponent>



        <div id="local-video-container" v-draggable v-on:draggable-onclick="adjustLocalVideoSize"
            v-bind:class="{
                        'local-video-overlay': ui.fullscreen.active,
                        'local-video-sm': stream.localsize =='sm',
                        'local-video-md': stream.localsize =='md',
                        'local-video-lg': stream.localsize =='lg'
                    }"
            v-if="stream.videoenabled || stream.screenshareenabled"
            >

            <div id="local-video-volume-meter" class="progress progress-bar-vertical">
                <div class="progress-bar bg-success" role="progressbar" v-bind:style="{'height': currentVolume + '%'}" :aria-valuenow="currentVolume" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar bg-danger" role="progressbar" v-bind:style="{'height': saturatedVolume + '%'}" :aria-valuenow="saturatedVolume" aria-valuemin="0" aria-valuemax="100"></div>
            </div>

            <video :srcObject.prop="stream.connection"

                    poster = "https://bevy.chat/img/video_poster.png"
                    autoplay="autoplay"
                    muted="muted"
                    class="local-stream"
                    playsinline>
            </video>




        </div>

        <!--<NetworkGraphComponent
            ref="networkGraph"
            class="mb-3"
            v-bind:inFullscreen="ui.fullscreen.active">
        </NetworkGraphComponent>-->

        <div id="peer-video-container" class="container-fluid" v-bind:class="{ 'peer-video-fullscreen': ui.fullscreen.active }">
            <div class="row justify-content-center video-connections flex-fill">
                <div v-for="peer in connections"
                    :key="peer.id"
                    :class="{
                        'col-sm-6 col-md-6 col-lg-4': (peerStreams.length <= 3),
                        'col-sm-4 col-md-4 col-lg-2': (peerStreams.length > 3)
                    }"
                    class="col-ml-auto embed-responsive embed-responsive-4by3">
                    <div v-if="peer.stream == null" class="peer-user-no-stream">
                        <div class="peer-user-no-stream-name">{{peer.user.name}}</div><br />
                        <div>
                            <v-icon color="red darken-2">mdi-microphone-off</v-icon>
                            <v-icon color="red darken-2">mdi-video-off</v-icon>

                        </div>
                    </div>
                    <PeerVideoComponent
                        ref="peerVideos"
                        v-bind:peer="peer"
                        v-bind:startFullscreen="peer.startFullscreen"
                        v-on:openFullscreen=" ui.fullscreen.active = true; ui.fullscreen.target = peer.hostid;"
                        v-on:closeFullscreen="ui.fullscreen.active = false; ui.fullscreen.target = null;"
                        v-if="peer.stream != null">
                    </PeerVideoComponent>
                </div>

                <div v-if="Object.keys(connections).length == 0" class="col-12 text-center pt-10">
                    Nobody else is here :(
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex" v-if="ui.fullscreen.active">
        <v-btn color="primary" class="btn-show-messages"
            v-bind:class="{'btn-off': !ui.showMessagesFullscreen}"
            v-on:click="ui.showMessagesFullscreen = !ui.showMessagesFullscreen">
            <span class="sr-only">Show messages Panel</span>
            <v-icon v-if="!ui.showMessagesFullscreen">mdi-comment-outline</v-icon>
            <v-icon v-if="ui.showMessagesFullscreen">mdi-comment-off-outline</v-icon>
        </v-btn>
    </div>

    <div class="chat-drawer-container">
    <v-navigation-drawer
      v-model="ui.chatDrawer"
      absolute
      right
      temporary
        >
        <MessageLogComponent
            v-bind:chatLog="chatLog" v-if="user.active"
            v-bind:inFullscreen="ui.fullscreen.active"
            v-bind:showMessagesFullscreen="ui.showMessagesFullscreen">
        </MessageLogComponent>

        <MessageInputComponent
            v-if="user.active"
            v-on:send="sendMessage"
            v-bind:inFullscreen="ui.fullscreen.active"
            v-bind:isActive="(Object.keys(connections).length > 0)"
            v-bind:showMessagesFullscreen="ui.showMessagesFullscreen">
        </MessageInputComponent>
    </v-navigation-drawer>

    </div>

</div>